<style>
    main {
        padding-left: 270px;
    }

    @media (max-width: 767px) {
        main {
            padding-left: 0px;
        }
    }
</style>
<div class="container">
    <div class="bg-image rounded-5 shadow m-4">
        <img src="/portrait2.png" class="fix img-fluid v-100 fix2" id="fit2" />
        <div class="mask gradient1">
            <div class="d-flex justify-content-md-start align-items-start h-100">
                <div class="p-3 text-white ps-md-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-9">
                            <p class="pt-3 pt-md-2 outfit-font fw-bold display-3">Documentation</p>
                            <p class="lh-1">
                                Explore our documentation to learn about every aspect of our API! From describing
                                endpoints
                                to examples of requests and responses, our documentation will guide you in the correct
                                use
                                of the API. Whether you are a beginner or an experienced developer, here you will find
                                all
                                the information you need to integrate our API into your projects efficiently and
                                effectively.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-4 lh-sm">
        <div class="offcanvas offcanvas-start border-0 shadow-0 overflow-y-auto rounded-5 p-4 m-0 m-md-4 footing"
            tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" data-bs-scroll="true"
            data-bs-backdrop="false">
            <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <span class="fs-4 fw-bold">Index</span>
                <button type="button" class="btn-close d-md-none ms-auto" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <hr>
            <div id="index">
                <ul class="nav nav-pills flex-column mb-auto  lh-1">
                    {{#each headers}}
                    <li class="nav-item lh-1">
                        <a href="#{{this.id}}" class="nav-link lh-1">{{this.text}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{{ docs }}}
        <div id="content" data-bs-spy="scroll" data-bs-target="#index">
            <div class="d-md-none text-end fixed-bottom px-5" style="padding-bottom: 5rem;">
                <button type="button" class="btn btn-primary btn-floating btn-lg" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
    </div>
</div>