<div class="container">
    <div class="bg-image rounded-5 shadow m-4">
        <img src="/portrait2.png" class="fix img-fluid v-100 fix2" id="fit2" />
        <div class="mask gradient1">
            <div class="d-flex justify-content-md-start align-items-start h-100">
                <div class="p-3 text-white ps-md-4">
                    <div class="row">
                        <div class="col-lg-6 col-md-9">
                            <p class="pt-3 pt-md-2 outfit-font fw-bold display-1">Documentation</p>
                            <p class="lh-1">
                                Explore our documentation to learn about every aspect of our API! From describing
                                endpoints
                                to examples of requests and responses, our documentation will guide you in the correct
                                use
                                of the API. Whether you are a beginner or an experienced developer, here you will find
                                all
                                the information you need to integrate our API into your projects efficiently and
                                effectively.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-4 lh-sm">{{{ docs }}}</div>
</div>