<div class="p-5 text-center">
    <h1 class="display-4 pt-5 fw-bold">Page Not Found</h1>
    <p>Sorry, the page you are looking for could not be found. Perhaps Rinako Bellerose is behind all this, who knows...</p>
    <div style="height: 42vh;"></div>
</div>