<div style="vh-100">
    <div class="container">
        {{#with data}}
        <h1 class="fw-bold text-center display-3 pt-3">{{title}}</h1>
        {{/with}}
        <div class="row py-2">
            <div class="col-md-1 col-lg-2"></div>
            <div class="col-md-10 col-lg-8 align-self-center">
                <div class="px-4 lh-sm outfit-font">{{{ docs }}}</div>
            </div>
            <div class="col-md-1 col-lg-2"></div>
        </div>
    </div>
</div>