@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lexend+Deca:wght@100..900&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

:root {
	color-scheme: light dark;
	font-synthesis: none;
  	text-rendering: optimizeLegibility;
	color: #fafbfc;
	background-color: #0d0e0f;
}

body {
	font-family: "Inter Tight", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.lexend-deca-font {
	font-family: "Lexend Deca", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.dm-mono-light {
	font-family: "DM Mono", monospace;
	font-weight: 300;
	font-style: normal;
}

pre code {
	font-family: "DM Mono", monospace;
	line-height: 1.2;
	font-weight: 400;
	font-style: normal;
}

.dm-mono-medium {
	font-family: "DM Mono", monospace;
	font-weight: 500;
	font-style: normal;
}

.dm-mono-light-italic {
	font-family: "DM Mono", monospace;
	font-weight: 300;
	font-style: italic;
}

.dm-mono-regular-italic {
	font-family: "DM Mono", monospace;
	font-weight: 400;
	font-style: italic;
}

.dm-mono-medium-italic {
	font-family: "DM Mono", monospace;
	font-weight: 500;
	font-style: italic;
}

@media (prefers-color-scheme: light) {
	:root {
		background-color: #ffffff;
		color: #213547;
	}
}

pre {
    border-radius: 0.4rem;
    box-shadow: inset;
}


.divider::after,
.divider::before {
    content: "";
    flex: 1;
    height: 1px;
    background: #aaa;
}